<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{layout/header::userHead}"></head>
<body>
<div th:replace="~{layout/top::header}"></div>
<div class="container">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            대시보드 <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mypage">
                            사용자 페이지
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/messages">
                            메시지 페이지
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/config">
                            설정 페이지
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="col-md-10">설정</div>
    </div>
</div>
<div th:replace="~{layout/footer::footer}"></div>
<script th:src="@{/js/jquery.min.js}"></script>
<script>
    $('#list').click(function () {
        $.ajax({
            url: "http://localhost:8080/api/boards",
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
            },
            error: function (e) {
                alert(e.responseText);
                console.log(e);
            }
        });
    });
</script>
</body>
</html>
